.vs/**
Debug/**
Release/**
sawndz_lavaTouchUp/Debug/**
sawndz_lavaTouchUp/Release/**
sawndz_lavaTouchUp/*.sawnd
sawndz_lavaTouchUp/*.brsar
sawndz_lavaTouchUp/*.bak
sawndz_lavaTouchUp/*.dat
sawndz_lavaTouchUp/Junk/**
sawndz_lavaTouchUp/*.txt
