.vs/**
x64/**
lavaSawndPortingUtility/x64/**
lavaSawndPortingUtility/*.sawnd
lavaSawndPortingUtility/*.brsar
lavaSawndPortingUtility/*.bak
lavaSawndPortingUtility/*.dat
lavaSawndPortingUtility/Junk/**
lavaSawndPortingUtility/EX Soundbanks/**
lavaSawndPortingUtility/Ported Soundbanks/**
lavaSawndPortingUtility/*.txt
!lavaSawndPortingUtility/soundbanksToPort.txt
!lavaSawndPortingUtility/soundNameOverrides.txt
!**/.gitkeep
